<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APMDb</title>
</head>
<body class="bg-dark">
    <nav class="navbar">
        <div class="container ">
          <a class="navbar-brand text-light fs-4 fw-bold" href="#">APMDb</a>

          <button class="btn btn-outline-light">Pagina Inicial</button>
        </div>
      </nav>

    <div class="container d-grid gap-3" id="container">

        <a class="navbar-brand fs-1 fw-bold text-warning titulosPrincipais" href="#" id="filmesFavoritosLink"><u>→ Filmes Favortitos</u></a>    
        <div class="row divFilmes" id="filmesFavoritos">
        </div>

        <a class="navbar-brand fs-1 fw-bold text-warning titulosPrincipais" href="#" id="filmesEmAltaLink"><u>→ Filmes Em Alta</u></a>    
        <div class="row divFilmes" id="filmesEmAlta">
        </div>

        <a class="navbar-brand fs-1 fw-bold text-warning titulosPrincipais" href="#" id="filmesTopRatedLink"><u>→ Filmes Top Rated</u></a>    
        <div class="row divFilmes" id="filmesTopRated">
        </div>

        <a class="navbar-brand fs-1 fw-bold text-warning titulosPrincipais" href="#" id="filmesPorVirLink"><u>→ Filmes Por Vir</u></a>    
        <div class="row divFilmes" id="filmesPorVir">
        </div>

        <a class="navbar-brand fs-1 fw-bold text-warning titulosPrincipais" href="#" id="filmesNoCinemaLink"><u>→ Filmes No Cinema</u></a>    
        <div class="row divFilmes" id="filmesNoCinema">
        </div>


    </div>

</body>
</html>