<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APMDb</title>
</head>
<body class="bg-dark">
    <nav class="navbar">
        <div class="container">
          <a class="navbar-brand text-light fs-4 fw-bold" href="index.html">APMDb</a>

          <a class="btn btn-outline-light" href="index.html"> Pagina Inicial</a>
        </div>
      </nav>

      

    <div class="container d-grid gap-3" id="container">
    </div>


</body>
</html>